<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
    <array>
        <string>Maplestory OTF Bold.otf</string>
        <string>Maplestory OTF Light.otf</string>
    </array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This application will use local networking to discover nearby devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_my-p2p-2p._tcp</string>
		<string>_my-p2p-2p._udp</string>
		<string>_my-p2p-3p._tcp</string>
		<string>_my-p2p-3p._udp</string>
		<string>_my-p2p-4p._tcp</string>
		<string>_my-p2p-4p._udp</string>
	</array>
</dict>
</plist>
